{% extends "admin/base_site.html" %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'ckillers/css/error_styles.css' %}" />
{% endblock %}

{% block content %}
    <div class="face">
        <div class="band">
            <div class="green"></div>
            <div class="white"></div>
            <div class="red"></div>
        </div>
        <div class="eyes">
            <div class="eye">
                <div class="pupil"></div>
            </div>
            <div class="eye">
                <div class="pupil"></div>
            </div>
        </div>
        <div class="mouth"></div>
    </div>

<h1>500</h1>
<h1>Oops! Cereal is broke!</h1>
{% endblock %}
