{% extends "admin/base_site.html" %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'ckillers/css/main_graph.css' %}" />
{% endblock %}
{% block breadcrumbs %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li><a href={% url 'admin:index' %}>Home</a></li>
                <li><a href="">Graphs</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
    {% for result in results %}
        <div class="app-holder col-sm-6 col-md-4">
            <a href="{% url type result.slug %}">
                <div class="card">
                    <img class="img-responsive" src="{% static 'ckillers/img' %}/{{ result.get_pipe_image }}"/>
                    <h3>{{ result.name|truncatechars:25 }}</h3>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
