{% extends "admin/base_site.html" %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'ckillers/css/main_graph.css' %}" />
    <link rel="stylesheet" href="{% static 'ckillers/css/chartist.min.css' %}" />
    <link rel="stylesheet" href="{% static 'ckillers/css/chartist-plugin-tooltip.css' %}" />

    <script src="{% static 'ckillers/js/chartist.min.js' %}" ></script>
    <script src="{% static 'ckillers/js/chartist-plugin-tooltip.min.js' %}" ></script>
{% endblock %}
{% block breadcrumbs %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'graphs' type %}">Graphs</a></li>
                <li><a>{{ pipeline.name }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="form-group time-select-container">
        <label for="timeFilter">Show</label>
        <select class="form-control select-form" id="timeFilter" onchange="changeGraph()">
            {% for key, value in times.items %}
                <option value="{{ key }}" {% if time_selected == key %} selected{% endif %}>{{ value.text }}</option>
            {% endfor %}
        </select>
    </div>
    {% if labels and data %}
        <div class="chartContainer">
            <div class="ct-chart"></div>
        </div>
        <script>
            let chart = new Chartist.Bar('.ct-chart', {
                labels: [{{ labels|safeseq|join:"," }}],
                series: [[{{ data|safeseq|join:"," }}]],
            }, {
                axisY: {
                    offset: 70,
                    labelInterpolationFnc: function(value) {
                      return value + ' {{ units }}';
                    }
                  },
                  axisX: {
                    offset: 100
                  },
                plugins: [
            Chartist.plugins.tooltip({appendToBody: true})
          ]});
        </script>
    {% else %}

    <div class='alert alert-warning'>There is no data available for this pipeline</div>

    {% endif %}
    <script>
        function changeGraph(){
            let time = document.querySelector("#timeFilter").value;
            let url = location.protocol + '//' + location.host + location.pathname;
            window.location = url+"?time="+time;
        }
    </script>
{% endblock %}
