{% extends "admin/index.html" %}
{% load static %}
{% load user_checks %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'ckillers/css/main_graph.css' %}" />
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
    {% belongs_to_clients_group user as is_client %}
    {% if is_client %}
        {% for app in app_list %}
            <h2 id='{{ app.name }}' class="app-name">{{ app.name }}</h2>
            <div class="row">
                {% for model in app.models %}
                    <div class="app-holder col-sm-3 col-md-2">
                        <a href="{{ model.admin_url }}">
                            <div class="card">
                                {% if model.name == "Events" %}
                                    <i class="fas fa-calendar-week"></i>
                                {% elif model.name == "Pipeline messages" %}
                                    <i class="fas fa-inbox"></i>
                                {% elif model.name == "Pipelines" %}
                                    <i class="fas fa-project-diagram"></i>
                                {% elif model.name == "Projects" %}
                                    <i class="fas fa-folder"></i>
                                {% elif model.name == "Stages" %}
                                    <i class="fas fa-bars"></i>
                                {% elif model.name == "Users" %}
                                    <i class="fas fa-user"></i>
                                {% elif model.name == "Groups" %}
                                    <i class="fas fa-users"></i>
                                {% else %}
                                    <i class="fas fa-smile-wink"></i>
                                {% endif %}
                                <h3>{{ model.name }}</h3>

                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <h2 id="Admin" class="app-name">Graphs</h2>
        <div class="row">
            <div class="app-holder col-sm-3 col-md-2">
                <a href="{% url 'graphs' 'stage_time' %}">
                    <div class="card">
                        <i class="fas fa-chart-bar"></i>
                        <h3>Graph Stage</h3>
                    </div>
                </a>
            </div>
            <div class="app-holder col-sm-3 col-md-2">
                <a href="{% url 'graphs' 'job_time' %}">
                    <div class="card">
                        <i class="fas fa-chart-bar"></i>
                        <h3>Graph Job</h3>
                    </div>
                </a>
            </div>
            <div class="app-holder col-sm-3 col-md-2">
                <a href="{% url 'graphs' 'pipe_status' %}">
                    <div class="card">
                        <i class="fas fa-chart-bar"></i>
                        <h3>Graph Pipeline status</h3>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
