html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f2eee8 !important;
  font-family: "Bebas Neue", cursive;
}

.face {
  width: 300px;
  height: 300px;
  border: 4px solid #383a41;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 100px;
}

.face .band {
  width: 350px;
  height: 27px;
  border: 4px solid #383a41;
  border-radius: 5px;
  margin-left: -25px;
  margin-top: 50px;
}
.face .band .green {
  height: calc(100% / 3);
  width: 100%;
  background-color: #008000;
}
.face .band .white {
  height: calc(100% / 3);
  width: 100%;
  background-color: #fff;
}
.face .band .red {
  height: calc(100% / 3);
  width: 100%;
  background-color: #ff0000;
}

.face .mouth {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: #383a41;
  margin: 0 auto;
  margin-top: 45px;
}
h1 {
  font-weight: 800;
  color: #383a41;
  text-align: center;
  font-size: 2.5em;
}

.eyes {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.eye {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #888787;
}
.pupil {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #888787;
}

#content .navbar.navbar-default{ display: none;}
