body, html, #container, .chartContainer, .ct-chart, .container-fluid{
    height: 100%;
    width: 100%;
}

#content{
    height: calc(100% - 75px);
}

.chartContainer, .ct-chart{
    height: calc(100% - 60px);
}


.time-select-container select{
    max-width: 150px;
    height: 30px;
}

.time-select-container label{
    width: auto;
    margin-right: 6px;
    font-size: 14px;
}

.time-select-container{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d2d2dc;
    text-align: center;
    margin:10px;
    padding: 10px;
    cursor: pointer;
    height:170px;
}

.card i{
    font-size: 4em;
}

.card img{
    height: 85px;
}

.app-name{
    margin-left: 10px;
    margin-bottom: 0;
}

.app-name:first-child{
    margin-top: 0;
}

.fa-calendar-week{
    color: #f7b924;
}

.fa-inbox{
    color: #00c689;
}
.fa-project-diagram{
    color: #3da5f4;
}

.fa-folder, .fa-chart-bar{
    color: #f1536e;
}

.fa-bars, .fa-users{
  color: #405189;
}

.app-holder a, .app-holder a:hover, .app-holder a:visited{
    text-decoration: none;
    color: inherit;
}

.ct-series.ct-series-a .ct-bar:nth-child(1n){
    stroke: #f7b924;
}
.ct-series.ct-series-a .ct-bar:nth-child(2n){
    stroke: #00c689;
}
.ct-series.ct-series-a .ct-bar:nth-child(3n){
    stroke: #3da5f4;
}
.ct-series.ct-series-a .ct-bar:nth-child(4n){
    color: #f1536e;
}
.ct-series.ct-series-a .ct-bar:nth-child(5n){
    color: #405189;
}
.ct-series.ct-series-a .ct-bar {
    stroke-width: 30;
}

.ct-chart-bar .ct-label {
    font-size: 0.82em;
}
